Q1. Pearson correlation coefficient is a measure of the linear relationship between two variables. Suppose
you have collected data on the amount of time students spend studying for an exam and their final exam
scores. Calculate the Pearson correlation coefficient between these two variables and interpret the result.

In [29]:
df = pd.DataFrame({
    
    'Time_Spent_hours' : [18, 23, 8, 14, 12, 17, 9, 21, 16, 6, 20, 10, 13, 19, 7, 15, 11, 22, 25, 5] , 
    'Exam_Score_out_of_100' : [78, 92, 50, 68, 62, 82, 55, 85, 75, 40, 88, 60, 70, 86, 45, 72, 63, 91, 96, 35]

})

In [30]:
df.corr(method='pearson')

                       Time_Spent_hours  Exam_Score_out_of_100
Time_Spent_hours               1.000000               0.982914
Exam_Score_out_of_100          0.982914               1.000000

Q2. Spearman's rank correlation is a measure of the monotonic relationship between two variables.
Suppose you have collected data on the amount of sleep individuals get each night and their overall job
satisfaction level on a scale of 1 to 10. Calculate the Spearman's rank correlation between these two
variables and interpret the result.

In [1]:
import pandas as pd

In [7]:
df = pd.DataFrame({
    
    'Name' : ['A' , 'B' , 'C' , 'R' , 'L'] ,
    'night_sleep_hours' : [ 6 , 7 , 5 ,8  ,6 ] ,
    'job_satisfaction_level' : [5 , 7.5 , 4 , 10 , 6]

})

In [8]:
df

  Name  night_sleep_hours  job_satisfaction_level
0    A                  6                     5.0
1    B                  7                     7.5
2    C                  5                     4.0
3    R                  8                    10.0
4    L                  6                     6.0

In [9]:
df.corr(method='spearman')

/tmp/ipykernel_1443/1222267885.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr(method='spearman')

                        night_sleep_hours  job_satisfaction_level
night_sleep_hours                1.000000                0.974679
job_satisfaction_level           0.974679                1.000000

Q3. Suppose you are conducting a study to examine the relationship between the number of hours of
exercise per week and body mass index (BMI) in a sample of adults. You collected data on both variables
for 50 participants. Calculate the Pearson correlation coefficient and the Spearman's rank correlation
between these two variables and compare the results.

In [19]:
df = pd.DataFrame({
    
    'Hours_of_exercise' : [1.91, 1.58, 1.63, 2.23, 1.56, 1.63, 2.44, 2.22, 2.05, 2.05, 1.79, 1.75, 2.39, 2.11, 2.28, 1.81, 1.51, 2.34, 1.98, 2.06, 2.16, 1.81, 1.57, 1.80, 1.84, 2.08, 1.56, 2.22, 2.31, 1.56, 2.36, 2.12, 1.68, 1.81, 1.63, 2.26, 2.28, 1.95, 1.53, 2.16, 1.78, 2.38, 2.23, 2.27, 2.14, 1.53, 1.58, 2.08, 1.57, 2.20, 2.33] , 
    'BMI' : [27.03, 26.15, 24.67, 28.68, 24.84, 25.28, 27.89, 29.43, 24.34, 26.28, 24.08, 24.34, 25.45, 28.13, 27.81, 24.66, 25.06, 26.45, 25.53, 27.06, 24.47, 24.33, 27.56, 23.45, 28.32, 25.77, 25.56, 28.55, 26.98, 23.65, 25.52, 26.23, 27.43, 23.71, 24.57, 26.55, 28.24, 26.43, 24.22, 26.95, 24.89, 23.98, 24.84, 25.19, 25.03, 26.71, 25.89, 26.54, 27.19, 26.89, 25.66]

})

In [20]:
df.head()

   Hours_of_exercise    BMI
0               1.91  27.03
1               1.58  26.15
2               1.63  24.67
3               2.23  28.68
4               1.56  24.84

In [21]:
df.corr(method='pearson')

                   Hours_of_exercise       BMI
Hours_of_exercise           1.000000  0.332435
BMI                         0.332435  1.000000

Q4. A researcher is interested in examining the relationship between the number of hours individuals
spend watching television per day and their level of physical activity. The researcher collected data on
both variables from a sample of 50 participants. Calculate the Pearson correlation coefficient between
these two variables.

In [22]:
df = pd.DataFrame({
    
    'watching_television_hours' : [2.5,1.6	,1.9	,2.3	,2.2	,1.2	,1.5	,1.8	,2.1	,2.0	,2.2	,2.4	,1.8	,1.7	,2.3	,1.6	,2.0	,2.4	,1.5	,2.1	,2.2	,1.9	,1.6	,1.4	,2.3	,2.4	,1.2	,2.0	,1.8	,1.7	,2.1	,2.2	,2.3	,1.9	,1.5	,1.6	,2.4	,2.0	,2.2	,1.8	,1.4	,1.9	,2.1	,2.3	,2.4	,1.5	,1.7	,1.6	,2.0	,1.8] , 
    'physical_activity_level_on_the_scale_of_1_10' : [8,6,7,5,9,2,3,7,5,6,8,4,3,9,4,2,8,7,1,6,7,4,9,3,5,7,2,5,7,8,6,4,5,9,3,6,4,8,7,2,1,5,7,6,8,3,5,6,4,2]

})

In [23]:
df.corr(method='pearson')

,watching_television_hours,physical_activity_level_on_the_scale_of_1_10
watching_television_hours,1.000000,0.450307
physical_activity_level_on_the_scale_of_1_10,0.450307,1.000000

Q5. A survey was conducted to examine the relationship between age and preference for a particular
brand of soft drink. The survey results are shown below:

In [27]:
df = pd.DataFrame({
    
    'Age_Years' : [25,42,37,19,31,28] , 
    'Soft_drink_Preference' : ['Coke ', 'Pepsi' , 'Mountain_dew' , 'Coke' , 'Pepsi' , 'Coke']

})

In [28]:
df.cov()

/tmp/ipykernel_1443/1545644723.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.cov()

           Age_Years
Age_Years  68.666667

Q6. A company is interested in examining the relationship between the number of sales calls made per day
and the number of sales made per week. The company collected data on both variables from a sample of
30 sales representatives. Calculate the Pearson correlation coefficient between these two variables.

In [25]:
df = pd.DataFrame({
    
    'sales_calls_made_per_day' : [45, 22, 17, 38, 51, 29, 42, 36, 13, 24, 58, 31, 47, 19, 27, 33, 56, 41, 16, 23, 49, 35, 11, 39, 43, 21, 28, 52, 46, 15] , 

    'number_of_sales_made_per_week' : [9, 2, 1, 6, 10, 3, 7, 5, 0, 2, 12, 4, 8, 1, 3, 4, 11, 7, 1, 2, 9, 5, 0, 6, 8, 2, 4, 10, 9, 1]
})

In [26]:
df.corr(method='pearson')

,sales_calls_made_per_day,number_of_sales_made_per_week
sales_calls_made_per_day,1.000000,0.989542
number_of_sales_made_per_week,0.989542,1.000000